Repository Diary-SPO/core, pull requests merged in 2024-09, with the labels that each got.

#332 fix: add header
  apps/web/src/shared/api/client.ts
Labels: bug-fix

#335 fix: fix some bugs
  apps/web/package.json
  apps/web/src/app/AppWrapper/index.tsx
  apps/web/src/app/providers/AuthProvider.tsx
Labels: bug-fix, web

#336 fix: fix some bugs
  apps/web/src/app/AppWrapper/App/ModalRoot/modals/MarkDetailedModal/index.tsx
  apps/web/src/shared/types.ts
  apps/web/src/shared/ui/Mark/helpers.ts
  apps/web/src/shared/utils/marks/setDefaultMark.ts
Labels: chore, bug-fix, web

#337 fix tests
  apps/web/src/shared/ui/Mark/__tests__/i.test.ts
Labels: chore

#338 chore: fix navigate at login page
  apps/web/src/pages/LoginForm/index.tsx
  apps/web/src/shared/api/client.ts
Labels: chore, bug-fix, web

#339 Опция чистого билда в скриптах
  apps/api/package.json
Labels: feature, api

#341 fix: update types
  apps/api/package.json
  apps/api/src/routes/ads/handler.ts
  apps/api/src/routes/attestation/service/get/getAttestationFromDiary.ts
  apps/api/src/routes/auth/login/handler.ts
  apps/api/src/routes/auth/login/service/save/saveUserData.ts
  apps/api/src/routes/finalMarks/service/get/getFinalMarks.ts
  apps/api/src/routes/lessons/service/get/getLessons.ts
  apps/api/src/routes/organization/handler.ts
  apps/api/src/routes/performance.current/service/get/getPerformanceCurrent.ts
  apps/api/src/utils/fetcher.ts
  apps/api/src/utils/index.ts
  apps/api/src/worker/cookieUpdater/submodules/updateUserCookie.ts
  apps/shared/src/api/self/index.ts
  bun.lockb
Labels: (╯°□°), bug-fix, refactor, api, web

#343 chore: fix invalid && usage
  apps/web/src/pages/Achievements/Tabs/SubjectsList/SubjectGroup/index.tsx
Labels: chore, bug-fix

#344 feat: use rspack (again)
  apps/admin/package.json
  apps/api/package.json
  apps/crypto/package.json
  apps/web/index.html
  apps/web/package.json
  apps/web/rsbuild.config.ts
  apps/web/src/main.tsx
  apps/web/vite.config.ts
  bun.lockb
  package.json
Labels: feature, dependencies, (╯°□°), refactor, web
