Repository Diary-SPO/core, pull requests merged in 2024-03, with the labels that each got.

#179 refactor: fix bugs & update deps
  .github/dependabot.yml
  .github/workflows/test.yml
  apps/api/package.json
  apps/api/src/main.ts
  apps/api/src/models/Auth/actions/delete/authLogout.ts
  apps/api/src/routes/finalMarks/service/get/getFinalMarksFromDB.ts
  apps/api/src/routes/finalMarks/service/index.ts
  apps/api/src/routes/finalMarks/service/other/index.ts
  apps/api/src/routes/finalMarks/service/other/structurizeResponse.ts
  apps/api/src/routes/finalMarks/service/save/saveFinalMarks.ts
  apps/api/src/routes/finalMarks/service/type.ts
  apps/api/src/routes/index.ts
  apps/web/package.json
  apps/web/src/styles/index.css
  apps/web/src/utils/marks/createSubjectMarksMap.ts
  apps/web/src/views/Achievements/Summary/index.tsx
  apps/web/src/views/Achievements/Tabs/FinalMarks/index.css
  apps/web/src/views/Achievements/Tabs/FinalMarks/index.tsx
  apps/web/src/views/Achievements/Tabs/MarksByGroup/AverageMarkCell/helpers/__tests__/i.test.ts
  apps/web/src/views/Achievements/Tabs/MarksByGroup/AverageMarkCell/helpers/__tests__/mocks.ts
  apps/web/src/views/Achievements/Tabs/MarksByGroup/MarksList/index.tsx
  apps/web/src/views/Achievements/Tabs/MarksByGroup/index.tsx
  apps/web/src/views/Achievements/Tabs/Summary/UserInfo/index.css
  apps/web/src/views/Achievements/Tabs/Summary/UserInfo/index.tsx
  apps/web/src/views/Achievements/Tabs/Summary/index.css
  apps/web/src/views/Achievements/Tabs/Summary/index.tsx
  apps/web/src/views/Achievements/Tabs/Summary/types.ts
  apps/web/src/views/Achievements/data.tsx
  apps/web/src/views/Achievements/hooks/useActiveTab.tsx
  apps/web/src/views/Achievements/index.tsx
  apps/web/src/views/Achievements/types.ts
  apps/web/src/views/Schedule/utils.ts
  bun.lockb
  package.json
Labels: dependencies, bug-fix, refactor, web

#186 fix: little fixes web
  apps/web/src/components/UI/Mark/index.tsx
  apps/web/src/hooks/useSnackbar.tsx
  apps/web/src/views/Schedule/MarksByDay/LessonGrades/index.css
Labels: chore

#188 fix: little fix web #2
  apps/web/src/views/Achievements/Tabs/FinalMarks/index.tsx
Labels: chore

#187 api: fix worker & add scan path
  apps/api/src/config/index.ts
  apps/api/src/config/params.ts
  apps/api/src/config/rsa/rsa.ts
  apps/api/src/config/types.ts
  apps/api/src/worker/cookieUpdater/modules/removeNotUsedTokens.ts
Labels: chore, api
