Repository Diary-SPO/core, pull requests merged in 2024-11, with the labels that each got.

#412 Fix: 01.11.2024
  apps/api/src/main.ts
  apps/api/src/models/Task/actions/save/tasksSaveOrGet.ts
  apps/api/src/models/Task/model.ts
  apps/api/src/routes/lessons/service/helpers/getFormattedGradebook.ts
  apps/api/src/utils/fetcher.ts
  apps/api/src/worker/cookieUpdater/submodules/updateUserCookie.ts
  apps/shared/src/api/original/index.ts
  apps/shared/src/api/original/keys.ts
  apps/web/package.json
  apps/web/src/app/AppWrapper/App/ModalRoot/modals/LessonModal/LessonTasks.tsx
  apps/web/src/pages/Schedule/ui/LessonSubtitle/index.tsx
  apps/web/src/shared/config/colors.ts
  apps/web/src/shared/ui/Mark/helpers.ts
  apps/web/src/shared/ui/SubtitleWithBorder/index.tsx
  apps/web/src/shared/ui/SubtitleWithBorder/styles.ts
Labels: feature, bug-fix, api, web

#415 chore: some web fixes & deps
  apps/crypto/package.json
  apps/web/package.json
  apps/web/rsbuild.config.ts
  apps/web/src/app/AppWrapper/App/Epic/index.tsx
  apps/web/src/app/AppWrapper/App/index.tsx
  apps/web/src/app/AppWrapper/index.tsx
  apps/web/src/assets/images/diary-ava.png
  apps/web/src/main.tsx
  apps/web/src/pages/Achievements/hooks/useActiveTab.tsx
  apps/web/src/pages/Achievements/index.tsx
  apps/web/src/pages/LoginForm/index.tsx
  apps/web/src/pages/Notifications.tsx
  apps/web/src/pages/Schedule/Schedule.tsx
  apps/web/src/pages/Settings/FAQ/index.tsx
  apps/web/src/pages/Settings/index.tsx
  apps/web/src/pages/index.tsx
Labels: dependencies, chore, web

#436 Не обновляется дата использования токена
  .gitignore
  apps/api/.env.example
  apps/api/src/helpers/getCookieFromToken.ts
  apps/api/src/models/Auth/actions/save/authSaveUseDate.ts
  apps/api/src/models/Auth/actions/save/index.ts
  bun.lockb
Labels: bug-fix, api
